.box {
    height: 500px;
    width: 600px;
    border: 2px solid white;
    display: flex;

}

div {
    height: 500px;
    width: 300px;
    border: 2px solid white;
}

img {
    height: 500px;
    width: 300px;

}

h6 {
    margin-left: 5%;
    letter-spacing: 5px;
}

h1 {
    font-size: 40px;
    margin-left: 5%;
}

p {
    font-size: 15px;
    justify-content: center;
    margin-left: 3%;
}

h3 {
    font-size: 40px;
    margin-left: 5%;
    color: blue;
}

button {
    background-color: blue;
    color: white;
    /* margin-left: 8%; */
    padding: 1em 3em;
    border: 2px solid blue;
    border-radius: 3px;
    justify-content: center;
}